@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    /* text-transform: capitalize; */
}

button {
    border: 1px solid;
}

#navbar {
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
}

/* navbar  */
.navbar-toggler span {
    background-color: white;
    color: #183961;
    padding: 0;
}

.navbar-toggler-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
    color: #183961;
}

.navbar-toggler-icon::before {
    content: '≡';
}

/* home page */
#items {
    width: 85%;
    text-align: center;
    height: 230px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #183961;
}

#homepage {
    display: grid;
    grid-template-columns: auto auto;
    align-items: start;
    justify-content: space-around;
}

#search-opt {
    width: 260px;
    position: sticky;
    top: 90px;
}

#search-opt #search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 0px;
}

/* Color Components */
#Search {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#Search #clr-box {
    height: 20px;
    width: 20px;
    box-shadow: 0px 0px 2px black;
    cursor: pointer;
    border-radius: 4px;
}

#search-opt p {
    font-size: 18px;
    font-weight: bold;
    color: #183961;
}

#search-opt #search span {
    font-weight: 500;
}

#search-opt #search input {
    box-shadow: 0px 0px 2px #183961;
}

#search-opt #search-btn {
    border: none;
    padding: 4px 10px;
    border: 1px solid #183961;
    border-radius: 5px;
    background-color: white;
    color: #183961;
}

#search-opt #search-btn:hover {
    background-color: #183961;
    color: white;
}

#home-product {
    width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#crousel {
    width: 99%;
    margin: auto;
    padding: 20px 0px;
}

#content {
    padding: 20px 10px;
}

/* Home */
#home-box1 {
    width: 30%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px .7px;
    border-radius: 5px;
    object-fit: contain;
}

#home-box1 img {
    height: 240px;
    width: 240px;
    object-fit: contain;
}

#box1 {
    width: 30%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid; */
    box-shadow: 0px 0px .7px;
    border-radius: 5px;
}

#box1 img {
    height: 260px;
    width: 260px;
    object-fit: contain;
}

#box2 {
    width: 65%;
    text-transform: capitalize;
}

#box2 h3 {
    color: #183961;
}

#box2 span {
    font-weight: 500;
}
#products{
    justify-content: space-between;
}


/* checkout products */
#checkout-products {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 20px;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

#checkout-products #box1 {
    margin: auto;
    height: 330px;
    width: 330px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
}
#checkout-products #box2{
    width: 400px;
}

#checkout-img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    padding: 0px 4px;
}

#checkout-img #imgbox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 65px;
    box-shadow: 0px 0px 1px;
    border-radius: 5px;
}

#checkout-img #imgbox img {
    object-fit: contain;
}


/* Check out Payment */
#checkout-payment {
    width: 340px;
    padding: 20px 25px;
    box-shadow: 0px 0px 1px;
    border-radius: 10px;
}

#checkout-payment h5 {
    font-weight: bold;
    color: #183961;
}

#checkout-payment #opt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0px 0px 1px;
    margin-top: 15px;
    border-radius: 4px;
}

#checkout-payment #btn {
    padding: 10px 15px;
    margin-top: 15px;
    width: 100%;
    border-radius: 20px;
    font-weight: bold;
    font-size: 14px;
    background-color: gold;
    border: none;
}

#checkout-payment input {
    box-shadow: 0px 0px 2px #183961;
}

/* Navbar icons */
#icons {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px 15px;
    cursor: pointer;
}

#icons a {
    text-decoration: none;
}

#count {
    padding: 1px 5px;
    border-radius: 50px;
    font-weight: 800;
    color: #183961;
    box-shadow: 0px 0px 3px;
    cursor: pointer;
    font-size: 12px;
}

#header {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#header h1 {
    font-weight: bold;
    color: #183961;
    font-size: 40px;
}

/* Details Page Img Option */

#imgOpt {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
}

#imgOpt #imgbox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 55px;
    box-shadow: 0px 0px 1px;
    border-radius: 5px;
}

#imgOpt #imgbox img {
    object-fit: contain;
}

/* offer page */

#offers {
    display: grid;
    grid-template-columns: auto auto;
    align-items: start;
    justify-content: center;
}

#offers #offer-opt {
    width: 350px;
    padding: 0px 20px;
    position: sticky;
    top: 120px;
}

#offers #product {
    width: 1100px;
}

#offers #Search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: auto;
}


/* grand total */
#grandTotal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 83%;
    height: 10vh;
    font-weight: bold;
    gap: 30px;
    font-size: 25px;
    color: #183961;
    box-shadow: 0px 0px 1px;
    background-color: #aba9a92c;
    margin: auto;
}


/* About */

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#about #box1 {
    height: 65vh;
    width: 80%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0px 10px;
    box-shadow: none;
}

#about #box1 h3 {
    width: 100%;
    position: sticky;
    background-color: white;
    padding: 15px 0px;
    top: 0;
}

/* Bill Generator */
#bill-gen {
    width: 70%;
    margin: auto;
    height: 60vh;
}
#bill-gen th{
    background-color: lightblue;
    color: #183961;
    padding: 10px 10px;
    border: none;
    border: 1px solid #e7e4e4;
    font-weight: bold;
}
#bill-gen td{
    font-weight: 500;
    border: 1px solid #e7e4e4;
}

/* Accordian items */
#navbarScrollingDropdown .accordion-header{
    border: none;
    box-shadow: none;
    width: 244px;
    margin-left: 3px;
}
 .accordion-button{
    font-weight: bold;
    color: #183961;
}
.dropdown-menu{
    border: none;
    background-color: transparent;
    width: 250px;
    box-shadow: none;
}
.dropdown-item{
    font-weight: 500;
}
.dropdown-item:hover{
    background-color: #eaeef0;
}


/* Data insert into database */
#dataInsert{
    margin: 10px auto;
    /* box-shadow: 0px 0px 2px; */
    padding: 10px 15px;
    border-radius: 10px;
    width: 700px;
}
#dataInsert #form{
    width: 100%;
    margin: auto;
    box-shadow: 0px 0px 1px #183961;
    padding: 10px 30px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    background-color:ghostwhite;
}
#dataInsert #form #box1{
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: none;
}
#dataInsert #form #box2{
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
#dataInsert #form input{
    background-color: white;
    color: black;
    border-radius: 5px;
    border: 1px solid #e7e4e4;
}
#dataInsert #form input::placeholder{
    color: gray;
    text-transform: capitalize;
    font-size: 14px;
}

#add_data_hero{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-around;
}
#add_data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 15px;
    width: 300px;
    height: 410px;
    font-weight: 500;
    color: #183961;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 1px;
    text-align: center;
}
#add_data a{
    background-color: whitesmoke;
    box-shadow: 0px 0px 2px;
    border-radius: 25px;
    width: 180px;
    font-weight: 600;
    font-size: 14px;
    padding: 8px 15px;
    color: #183961;
}
#add_data a:hover{
    color: #183961;
    background-color: white;
    box-shadow: 0px 0px 2px;
}

/* UpDoun Button */
#updown{
    position: fixed;
    top: 92%;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    box-shadow: 0px 0px 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* background-color: deepskyblue; */
    color: lightsalmon;
    font-size: 20px;
    padding: 10px;
}
#updown:hover{
    /* background-color: ; */
    color: red;
}

/* watch layout */
#watch_layout{
        display:grid;
        grid-template-columns: auto auto;
        align-items: start;
        justify-content: start;
        width:100%;
        margin:30px auto;
        font-weight: 600;
        gap:20px;
        color:#183961;
        padding:15px;
}
#navigatehero{
    width:280px;
    height:900px;
    margin: 0 auto;
}
#navigate{
    width: 380px;
    /* height: 1000px; */
    /* border: 1px solid; */
    position: sticky;
    top: 100px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 15px;
}
#navigate a{
    padding: 10px;
    box-shadow: 0px 0px 2px;
    width: 200px;
    border-radius: 25px;
    text-align: center;
}
#navigate a:hover{
    background-color: whitesmoke;
}
#watch_layout #outlet{
    width:1200px;
}
#watch_layout #outlet b{
    font-weight: 600;
}

/* Dashboard */
#main{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 75vh;
    width: 100%;
}
#main #box1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 60vh;
    color: #183961;
    font-weight: bold;
    box-shadow: 0px 0px 1px;
    text-transform: lowercase;
}
#main #box1 hr{
    width: 100%;
}
#main #box1 #profile{
    margin: 10px 0px;
    height: 100px;
    width: 100px;
    box-shadow: 0px 0px 2px black;
    text-transform: lowercase;
    border-radius: 50px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtuphMb4mq-EcVWhMVT8FCkv5dqZGgvn_QiA&s");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: center;
    color: #183961;
    background-color: black;
    /* border: 1px solid; */
}
#main #box1 #profile #camera{
    height: 50px;
    background-color: #80808040;
    width: 100%;
    text-align: center;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    cursor: pointer;
    display: none;
    color: #183961;
    transition: .6s;
}

#main #box2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 60vh;
}

/* Big Image */
#bigimg{
    height: 550px;
    width: 550px;
    position: fixed;
    top: 78px;
    left: 60%;
    object-fit: contain;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 2px;
    display: none;
    z-index: 12;
}

@media(max-width:600px) {
    #home-product {
        width: 100%;
    }

    #products {
        margin: auto;
        width: 100%;
        display: flex;
        padding: 5px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #box1{
        width: 90%;
        box-shadow: 0px 0px 2px;
        border-radius: 5px;
    }

    #box2 {
        margin-top: 20px;
        width: 95%;
        text-transform: capitalize;
    }

    #box2 h3 {
        font-size: 20px;
    }

    #box2 b {
        font-weight: normal;
        font-size: 14px;
    }

    #homepage {
        grid-template-columns: auto;
    }

    #crousel img {
        height: 380px;
    }

    #search-opt {
        left: 0;
        width: 350px;
        margin: auto;
        position: inherit;
    }

    #items {
        width: 95%;
    }

    #items h4 {
        font-size: 18px;
    }

    #checkout-products {
        grid-template-columns: auto;
        margin: auto;
    }

    #checkout-img {
        flex-direction: row;
        padding: 20px 0px;
    }

    #checkout-products #box1 {
        width: 350px;
        margin: auto;
    }
    #checkout-products #box2{
        width: 320px;
    }

    #checkout-payment {
        width: 95%;
        margin: 30px auto;
    }

    #icons {
        padding: 10px 0px;
    }

    #header h1 {
        font-size: 30px;
    }

    #offers {
        grid-template-columns: auto;
        width:100%;
    }

    #offers #product {
        width: 100%;
    }

    #offers #offer-opt {
        width: 100%;
        margin: auto;
        position: inherit;
    }

    #Search {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }

    #grandTotal {
        width: 98%;
        margin: auto;
        font-size: 18px;
        box-shadow: 0px 0px 2px;
    }

    /* boxh */
    #about #box1 {
        overflow-y: scroll;
    }

    /* Bill Generator */
    #bill-gen {
        width: 95%;
        margin: auto;
    }
    #bill-gen td,th{
        font-size: 12px;
    }
    #bill-gen Button{
        padding: 8px;
        font-size: 12px;
    }
    /* database form */
    #add_data{
        align-items: start;
        justify-content: start;
        height: 370px;
        padding: 20px 40px;
    }
    #add_data_hero{
        grid-template-columns: auto;
    }
    #dataInsert{
        width: 350px;
    }
    #dataInsert #form{
        width: 100%;
    }
    #dataInsert #form{
        grid-template-columns: auto;
    }
    #adddata-btn{
        margin-top: 10px;
    }
    #adddata-btn Button{
        font-size: 10px;
        font-weight: bold;
        text-transform: capitalize;
    }
    /* up-down */
    #updown{
        position: fixed;
        width: 40px;
        height: 40px;
        font-size: 15px;
        padding: 15px;
    }
    #watch_layout{
        grid-template-columns: auto;
    }
    #navigatehero{
        height: 300px;
    }
    #navigate{
        position: static;
        width: 100%;
        height: 300px;
        align-items: center;
        justify-content: center;
        font-size: 14px;
    }
    #watch_layout #outlet{
        width: 100%;
    }
    /* Dashboard */
    #main{
        flex-direction: column;
        margin: 20px auto;
        height: 100vh;
    }
    #main #box1{
        width: 70%;
        height: 800px;
    }
    #main #box1 #profile{
        height: 80px;
        width: 80px;
    }
    #main #box2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        text-align: center;
        height: 50vh;
    }
    #main #box2 h2{
        font-size: 22px;
    }
    /* big image */
    #bigimg{
        height: 380px;
        width: 380px;
        position: fixed ;
        top: 100px;
        left: 5%;
        /* display: none; */
    }
}


/* my cart */

#update {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#qnt {
    margin-left: 10px;
    margin-right: 10px;
    padding: 0px 8px;
    font-weight: bold;
}

#inc-dec span {
    font-weight: bold;
    font-size: 18px;
    color: #183961;
}

#inc-dec button {
    border: none;
    padding: 1px 15px;
    margin-left: 8px;
    font-weight: bold;
    box-shadow: 0px 0px 1px;
    color: #183961;
}

#grandTotal button {
    margin-left: 20px;
    padding: 8px 15px;
    font-size: 14px;
    font-weight: bold;
    background-color: white;
    color: #183961;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 0px 1px;
}

#grandTotal button:hover {
    background-color: #183961;
    color: white;
}



/* customer reviews */
#search i {
    color: goldenrod;
    padding: 0px 1px;
}

#offer_time h5{
    font-weight: 600;
    color: #183961;
}
#offer_time span{
    color: red;
}
.carousel-control-next-icon{
    display: none;
}
.carousel-control-prev-icon{
    display: none;
}

#mode{
    position: fixed;
    top: 20px;
    z-index: 10;
    right: 10px;
}
#products Button{
    text-transform: capitalize;
}