@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

button {
    border: 1px solid;
}

#navbar {
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
}

/* navbar  */
.navbar-toggler span {
    background-color: white;
    color: #183961;
    padding: 0;
}

.navbar-toggler-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
    color: #183961;
}

.navbar-toggler-icon::before {
    content: '≡';
}

/* home page */
#items {
    width: 85%;
    text-align: center;
    height: 230px;
    background-color: white;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #183961;
}

#homepage {
    display: grid;
    grid-template-columns: auto auto;
    align-items: start;
    justify-content: space-around;
}

#search-opt {
    width: 260px;
    position: sticky;
    top: 90px;
}

#search-opt #search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 0px;
}

/* Color Components */
#Search {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#Search #clr-box {
    height: 20px;
    width: 20px;
    box-shadow: 0px 0px 2px black;
    cursor: pointer;
    border-radius: 4px;
}

#search-opt p {
    font-size: 18px;
    font-weight: bold;
    color: #183961;
}

#search-opt #search span {
    font-weight: 500;
}

#search-opt #search input {
    box-shadow: 0px 0px 2px #183961;
}

#search-opt #search-btn {
    border: none;
    padding: 4px 10px;
    border: 1px solid #183961;
    border-radius: 5px;
    background-color: white;
    color: #183961;
}

#search-opt #search-btn:hover {
    background-color: #183961;
    color: white;
}

#home-product {
    width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#crousel {
    width: 98%;
    margin: auto;
    padding: 20px 0px;
}

#content {
    padding: 20px 10px;
}

/* Home */
#home-box1 {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home-box1 img {
    height: 250px;
    width: 250px;
    object-fit: contain;
}

#box1 {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box1 img {
    object-fit: contain;
}

#box2 {
    width: 70%;
    text-transform: capitalize;
}

#box2 h3 {
    color: #183961;
}

#box2 span {
    font-weight: 500;
}


/* checkout products */
#checkout-products {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 20px;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

#checkout-products #box1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#checkout-img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    padding: 0px 4px;
}

#checkout-img #imgbox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 55px;
    box-shadow: 0px 0px 1px;
    border-radius: 5px;
}

#checkout-img #imgbox img {
    object-fit: contain;
}


/* Check out Payment */
#checkout-payment {
    width: 300px;
    padding: 10px 15px;
}

#checkout-payment h5 {
    font-weight: bold;
    color: #183961;
}

#checkout-payment #opt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0px 0px 1px;
    margin-top: 15px;
    border-radius: 4px;
}

#checkout-payment #btn {
    padding: 10px 15px;
    margin-top: 15px;
    width: 100%;
    border-radius: 20px;
    font-weight: bold;
    font-size: 14px;
    background-color: gold;
    border: none;
}

#checkout-payment input {
    box-shadow: 0px 0px 2px #183961;
}

/* Navbar icons */
#icons {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px 15px;
}

#icons a {
    text-decoration: none;
}

#count {
    padding: 1px 5px;
    border-radius: 50px;
    font-weight: bold;
    color: #183961;
    box-shadow: 0px 0px 2px;
    cursor: pointer;
}

#header {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#header h1 {
    font-weight: bold;
    color: #183961;
    font-size: 40px;
}

/* Details Page Img Option */

#imgOpt {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
}

#imgOpt #imgbox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 55px;
    box-shadow: 0px 0px 1px;
    border-radius: 5px;
}

#imgOpt #imgbox img {
    object-fit: contain;
}

/* offer page */

#offers {
    display: grid;
    grid-template-columns: auto auto;
    align-items: start;
    justify-content: center;
}

#offers #offer-opt {
    width: 350px;
    padding: 0px 20px;
    position: sticky;
    top: 120px;
}

#offers #product {
    width: 1100px;
}

#offers #Search {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: auto;
}


/* grand total */
#grandTotal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
    font-weight: bold;
    gap: 30px;
    font-size: 25px;
    color: #183961;
    box-shadow: 0px 0px 1px;
    width: 99%;
    margin: auto;
}


/* About */

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#about #box1 {
    height: 65vh;
    width: 80%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0px 10px;
}

#about #box1 h3 {
    width: 100%;
    position: sticky;
    background-color: white;
    padding: 15px 0px;
    top: 0;
}

/* Bill Generator */
#bill-gen {
    width: 70%;
    margin: auto;
    height: 60vh;
}
#bill-gen th{
    background-color: lightblue;
    color: #183961;
    padding: 10px 10px;
    border: none;
    border: 1px solid #e7e4e4;
}
#bill-gen td{
    font-weight: 500;
    border: 1px solid #e7e4e4;
}

@media(max-width:600px) {
    #home-product {
        width: 100%;
    }

    #products {
        margin: auto;
        width: 100%;
        display: flex;
        padding: 5px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #box2 {
        margin-top: 20px;
        width: 95%;
        text-transform: capitalize;
    }

    #box2 h3 {
        font-size: 20px;
    }

    #box2 b {
        font-weight: normal;
        font-size: 14px;
    }

    #homepage {
        grid-template-columns: auto;
    }

    #crousel img {
        height: 380px;
    }

    #search-opt {
        left: 0;
        width: 350px;
        margin: auto;
        position: inherit;
    }

    #items {
        width: 95%;
    }

    #items h4 {
        font-size: 18px;
    }

    #checkout-products {
        grid-template-columns: auto;
    }

    #checkout-img {
        flex-direction: row;
        padding: 20px 0px;
    }

    #checkout-products #box1 {
        width: 95%;
        margin: auto;
    }

    #checkout-payment {
        width: 95%;
        margin: 30px auto;
    }

    #icons {
        padding: 10px 0px;
    }

    #header h1 {
        font-size: 30px;
    }

    #offers {
        grid-template-columns: auto;
    }

    #offers #product {
        width: 100%;
    }

    #offers #offer-opt {
        width: 100%;
        margin: auto;
        position: inherit;
    }

    #Search {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }

    #grandTotal {
        width: 98%;
        margin: auto;
        font-size: 18px;
        box-shadow: 0px 0px 2px;
    }

    /* boxh */
    #about #box1 {
        overflow-y: scroll;
    }

    /* Bill Generator */
    #bill-gen {
        width: 95%;
        margin: auto;
    }
    #bill-gen td,th{
        font-size: 12px;
    }
    #bill-gen Button{
        padding: 8px;
        font-size: 12px;
    }
}


/* my cart */

#update {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#qnt {
    margin-left: 10px;
    margin-right: 10px;
    padding: 0px 8px;
    font-weight: bold;
}

#inc-dec span {
    font-weight: bold;
    font-size: 18px;
    color: #183961;
}

#inc-dec button {
    border: none;
    padding: 1px 15px;
    margin-left: 8px;
    font-weight: bold;
    box-shadow: 0px 0px 1px;
    color: #183961;
}

#grandTotal button {
    margin-left: 20px;
    padding: 8px 15px;
    font-size: 14px;
    font-weight: bold;
    background-color: white;
    color: #183961;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 0px 1px;
}

#grandTotal button:hover {
    background-color: #183961;
    color: white;
}



/* customer reviews */
#search i {
    color: goldenrod;
    padding: 0px 1px;
}